#content{
    height: 100%;
    /* border: 2px solid black; */
  
 }
 .coronaheading{
    /* width: 500px; */
    border: 2px solid blue;
    background-color: rgb(78, 192, 236);
    /* margin-top: 200px; */
 }
 #coronacontent{
    height: 100%;
    width: 100%;
    border: 2px solid black;
   
 }
 .imagepara{
    width: 90%;
    height: 400px;
    padding-left: 5%;
 }
 .request{
    color: rgb(1, 82, 1);
    font-size: 50px;
    font-weight: bolder;
 }
 
 
 
 